worker_proccesses auto;

events{
    worker_connections 10
}

server{
    http{
        upstream backend {
            server backend-1:8088
        }

        listen 80
        root /usr/default.nginx/index.html

        location / {
            proxy_pass index.html
        }

        location /api {
            proxy_pass http://backend
        }
    }
}