name: CI/CD pipelines to build frontend and backend

on:
  push:
    tags: ["v*"]
    branches: ["main", "release/*"]

jobs:
  build-frontend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up Bun environment
        uses: oven-sh/setup-bun@v1

      - name: Install frontend dependancy
        working-directory: ./development/frontend
        run: bun install

      - name: Frontend lint errors
        working-directory: ./development/frontend
        run: bun lint

      - name: Frontend typescript errors
        working-directory: ./development/frontend
        run: bun tsc

  build-docker-images:
    needs:
      - build-frontend
    runs-on: ubuntu-latest
    env:
      FRONTEND_IMAGE: ${{secrets.FRONTEND_IMAGE}}
      BACKEND_IMAGE: ${{secrets.BACKEND_IMAGE}}

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Login to docker HUB
        if: startsWith(github.ref, 'refs/tags/v')
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push frontend and backend image to docker HUB
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          docker build --target prod -t $FRONTEND_IMAGE:${GITHUB_REF_NAME} -f ./development/frontend/dockerfile ./development
          docker push $FRONTEND_IMAGE:${GITHUB_REF_NAME}
          docker build --target prod -t $BACKEND_IMAGE:${GITHUB_REF_NAME} -f ./development/backend/dockerfile ./development
          docker push $BACKEND_IMAGE:${GITHUB_REF_NAME}
